################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/cv/CopilotIndices/17.13.449.12402
/.vs/cv/FileContentIndex
/.vs/cv/v17
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
*.json
